.ContainerMasterHeader {
  background-color: #2D4059;
  width: 100vw;
  height: 22vw;
  display: flex;
  transition: ease 0.5s;
}

.ContainerMasterHeader:hover {
  background-color: #374c69;
  transition: ease 0.5s;
}

@media (min-width: 1270px) {
  .ContainerMasterHeader {
    height: 75px;
    border-bottom: 3px solid black;
    margin-bottom: 2vw;
  }
}
