.muitoAtrasadoPrimaryColor {
  background-color: #dc0000;
}

.muitoAtrasadoSecondaryColor {
  background-color: #ffeaea;
}

.atrasadoPrimaryColor {
  background-color: #f77e21;
}

.atrasadoSecondaryColor {
  background-color: #ede1cf;
}

.normalPrimaryColor {
  background-color: #f7c04a;
}

.normalSecondaryColor {
  background-color: #fff6c2;
}

.adiantadoPrimaryColor {
  background-color: #7fb77e;
}

.adiantadoSecondaryColor {
  background-color: #d1e9dc;
}

.concluidoPrimaryColor {
  background-color: #39a2db;
}

.concluidoSecondaryColor {
  background-color: #e0f6fd;
}

.ContainerMasterCardRight {
  overflow: hidden;
  display: block;
  margin-top: 5vw;
  width: 95vw;
  margin-left: 5vw;
  border: 0.5vw solid black;
  border-right: 0px;
  border-radius: 5vw 0 0 5vw;
  transition: 0.15s ease;
}

.subContainerMasterCardRight {
  display: flex;
}

.ContainerImage {
  max-width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.ContainerInfo {
  display: flex;
  justify-content: space-between;

  align-items: center;
  overflow: hidden;
  line-height: 6vw;
}

.ContainerMasterInfo {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;


  justify-content: center;
  text-align: center;
  align-items: center;
}
.Espacamento {
  margin-top: 5vw;
}
.ContainerMasterInfo p {
  padding-right: 20px;
  font-size: 5vw;
  font-weight: 800;
  color: white;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 0.2vw -1px 0 #000,
    0.2vw 0 0 #000, 0.2vw 0.2vw 0 #000, 0 0.2vw 0 #000, -1px 0.2vw 0 #000,
    -1px 0 0 #000;
}

.face {
  width: 30vw;
  height: 20vw;
}

.processo {
  margin-left: 20%;
}

.container {
  display: flex;
  align-items: center;
  margin-left: -10%;
  width: 90%;
  height: 100%;
  border-right: 0.5vw solid black;
  background-color: #000;
}

.compania {
  flex-shrink: 0;
  height: 40%;
  width: 40%;
  margin-top: -30px;
  margin-bottom: 20px;
}

.TopCardContainer {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 8vw;
  border-bottom: 0.5vw solid black;

  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  justify-content: space-between;
  background-color: #7c9d96;
  color: white;

  font-size: 3vw;
  font-weight: 800;
  color: white;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 0.2vw -1px 0 #000,
    0.2vw 0 0 #000, 0.2vw 0.2vw 0 #000, 0 0.2vw 0 #000, -1px 0.2vw 0 #000,
    -1px 0 0 #000;
}

.TopCardContainer p {
  color: white;
  font-size: 5vw;
  font-weight: 600;

  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 0.2vw -1px 0 #000,
    0.2vw 0 0 #000, 0.2vw 0.2vw 0 #000, 0 0.2vw 0 #000, -1px 0.2vw 0 #000,
    -1px 0 0 #000;
}

.Pesquisa {
  background-color: hsl(0, 100%, 86%);
}

@media (min-width: 1270px) {
  .Espacamento {
    margin-top: 0;
  }

  .TopCardContainer {
    font-size: 20px;
    height: 50px;
    border-bottom: 3px solid black;
  }

  .ContainerMasterCardRight {
    width: 10px;
    min-width: 97vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 0px;

    border: 3px solid black;
    border-right: 3px solid black;
    border-radius: 50px 50px 50px 50px;

    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
      1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  }

  .subContainerMasterCardRight {
    margin-bottom: 0;
  }

  .face {
    width: 150px;
    height: 150px;
    margin-top: -20px;
  }

  .container {
    border-right: 3px solid black;
  }

  .ContainerInfo {
    line-height: 34px;
  }

  .ContainerMasterInfo {
    margin-top: 0.5vw;
  }

  .ContainerMasterInfo p {
    margin-left: 6vw;
    font-size: 30px;
    padding-right: 10px;
  }

  .BottomCardContainer {
    height: 50px;
    padding-left: 3vw;
    border-top: 3px solid black;
  }

  .BottomCardContainer p {
    font-size: 30px;
  }

  .compania {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-bottom: -10px;
  }
}

@media (min-width: 1900px) {
  .ContainerImage {
    max-width: 20%;
  }
}

@media (min-width: 2560px) {
  .subContainerMasterCardRight {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }

  .container {
    border-right: 3px solid black;
  }

  .ContainerInfo {
    line-height: 34px;
  }
  .ContainerMasterInfo p {
    margin-left: 11vw;
  }

  .BottomCardContainer {
    height: 50px;
    padding-left: 3vw;
    border-top: 3px solid black;
  }

  .BottomCardContainer p {
    font-size: 30px;
  }

  .compania {
    height: 100px;
    width: 100px;
  }
}
